In [4]:
import pandas as pd
#Download the file from  link https://aka.ms/edx-dat101x-labfiles

In [5]:
df=pd.read_excel("C:\\Users\\266251\\Lemonade.xlsx")

In [6]:
df=df.drop(['Unnamed: 7', 'Unnamed: 8','Unnamed: 9'], axis=1)

In [7]:
df.head()

        Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0 2017-01-01     Sunday         27.0      2.00      15    0.3     10
1 2017-01-02     Monday         28.9      1.33      15    0.3     13
2 2017-01-03    Tuesday         34.5      1.33      27    0.3     15
3 2017-01-04  Wednesday         44.1      1.05      28    0.3     17
4 2017-01-05   Thursday         42.4      1.00      33    0.3     18

In [8]:
df["Month"]=pd.DatetimeIndex(df['Date']).month

In [9]:
df.head()

        Date        Day  Temperature  Rainfall  Flyers  Price  Sales  Month
0 2017-01-01     Sunday         27.0      2.00      15    0.3     10      1
1 2017-01-02     Monday         28.9      1.33      15    0.3     13      1
2 2017-01-03    Tuesday         34.5      1.33      27    0.3     15      1
3 2017-01-04  Wednesday         44.1      1.05      28    0.3     17      1
4 2017-01-05   Thursday         42.4      1.00      33    0.3     18      1

In [10]:
df[df.Month==8].Price.sum()

15.5

In [11]:
dfsaturfilter=df[(df.Day=='Saturday')&(df.Month==7)]

In [12]:
dfsaturfilter.sort_values(by='Temperature',ascending=False).head()

          Date       Day  Temperature  Rainfall  Flyers  Price  Sales  Month
181 2017-07-01  Saturday        102.9      0.47      59    0.5     43      7
202 2017-07-22  Saturday         99.6      0.47      49    0.5     42      7
209 2017-07-29  Saturday         85.5      0.57      50    0.5     35      7
188 2017-07-08  Saturday         83.2      0.57      44    0.5     34      7
195 2017-07-15  Saturday         82.5      0.54      56    0.5     35      7

In [13]:
dfnovflyers=df[(df.Month==11)]

In [14]:
dfnovflyers.sort_values(by='Flyers',ascending=True).head()

          Date        Day  Temperature  Rainfall  Flyers  Price  Sales  Month
316 2017-11-13     Monday         44.7      1.05      26    0.3     19     11
332 2017-11-29  Wednesday         50.0      0.95      27    0.3     20     11
333 2017-11-30   Thursday         44.7      1.05      28    0.3     19     11
324 2017-11-21    Tuesday         47.0      0.95      28    0.3     20     11
319 2017-11-16   Thursday         47.3      0.87      28    0.3     21     11

In [15]:
df.groupby('Day')['Flyers'].sum()

Day
Friday       2097
Monday       2069
Saturday     1997
Sunday       2137
Thursday     2117
Tuesday      2135
Wednesday    2152
Name: Flyers, dtype: int64